@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p style="font-size:24px;">
    This is a simple number guessing game.  You must enter your name and the number
    you guess the computer with match.  See if you're right!.
</p>
