@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: #f396c5">
    <h1>AR Guessing Game</h1>
    <p class="lead" style="font-size:24px;">
        Try the Guessing Game!  It's fun and entertaining to see how many guesses it takes to
        to find the correct number!
    </p>

</div>

